.interestContainer {
  padding: 16px;
  border-radius: 20px;
  margin-bottom: 16px;
  break-inside: avoid;
  text-align: justify;
  overflow: visible;
  text-align: justify;
}

.interestTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: fit-content;
  margin: 0 auto;
  transition: color 0.15s ease-in-out;
  overflow: visible;
}

.interestTitle::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--header-hover-color);
  transition: width 0.25s ease-out;
}

.interestContainer:hover .interestTitle {
  color: var(--header-hover-color);
}

.interestContainer:hover .interestTitle::after {
  width: 100%;
}

.interestIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.links {
  text-align: left;
  width: 100%;
}

.link {
  transition: 0.15s ease-in-out;
  border-bottom: 2px solid var(--header-hover-color);
  color: var(--text-color);
}

.linkTexts {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.link:hover {
  opacity: 0.75;
}
