.technicalSkillContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 260px;
  height: 700px;
  padding: 20px;
  gap: 20px;
  border-radius: 20px;
}

.technicalSkillContainer:hover .skillType {
  color: var(--header-hover-color);
}

.technicalSkillContainer:hover .skillType::after {
  width: 100%;
}

.skillType {
  margin: 0;
  position: relative;
  transition: color 0.15s ease-in-out;
}

.skillType::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--header-hover-color);
  transition: width 0.25s ease-out;
}

.technicalSkill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skillTitle {
  padding: 0;
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  cursor: default;
}

@media (max-width: 579px) {
  .technicalSkillContainer {
    height: auto;
  }
}
