.technicalSkillContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 260px;
  height: 700px;
  padding: 20px;
  gap: 20px;
  border-radius: 20px;
}

.skillType {
  margin: 0;
  text-decoration: underline;
  text-decoration-color: transparent;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
  transition: text-decoration-color 0.15s ease-in-out;
}

.technicalSkillContainer:hover .skillType {
  text-decoration-color: var(--header-hover-color);
}

.technicalSkill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skillTitle {
  padding: 0;
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  cursor: default;
}

@media (max-width: 900px) {
  .technicalSkillContainer {
    width: 100%;
  }

  .skillTitle {
    font-size: 20px;
  }
}

@media (max-width: 580px) {
  .technicalSkillContainer {
    height: auto;
  }
}
