@font-face {
  font-family: "Wotfard";
  font-weight: 400;
  src: url("../assets/fonts/wotfard-regular-webfont.woff2") format("woff2"),
    url("../assets/fonts/wotfard-regular-webfont.ttf") format("ttf"),
    url("../assets/fonts/wotfard-regular-webfont.eot") format("eot");
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  font-size: 16px;
  font-family: "Wotfard", sans-serif;
}

body {
  margin: 0;
  background: #090e19;
  color: #fff;
}

a {
  text-decoration: none;
}

img {
  display: block;
}
