@font-face {
  font-family: "Wotfard";
  font-weight: 400;
  src: url("../assets/fonts/wotfard-regular-webfont.woff2") format("woff2"),
    url("../assets/fonts/wotfard-regular-webfont.ttf") format("ttf"),
    url("../assets/fonts/wotfard-regular-webfont.eot") format("eot");
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  font-size: 16px;
  font-family: "Wotfard", sans-serif;
}

body {
  margin: 0;
  background: #090e1a;
  color: #fff;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

@media (min-width: 0px) {
  .content {
    width: 100%;
  }
}

@media (min-width: 1895px) {
  .content {
    width: 90%;
  }
}

@media (min-width: 2100px) {
  .content {
    width: 70%;
  }
}

@media (min-width: 2700px) {
  .content {
    width: 60%;
  }
}

@media (min-width: 3150px) {
  .content {
    width: 50%;
  }
}

@media (min-width: 3770px) {
  .content {
    width: 40%;
  }
}
