.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
  padding: 20px;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  color: #fff;
  margin-right: 20px;
  transition: 0.15s ease-in-out;
}

.title:hover {
  opacity: 0.75;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.svg {
  fill: #fff;
}

.button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
