.interestContainer {
  padding: 16px;
  border-radius: 20px;
  margin-bottom: 16px;
  break-inside: avoid;
  text-align: justify;
  overflow: visible;
  
}

.interestTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.15s ease-in-out;
  overflow: visible;
}

.interestContainer:hover .interestTitle {
  color: #64ffda;
}

.interestIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
