.interestContainer {
  padding: 16px;
  border-radius: 20px;
  margin-bottom: 16px;
  break-inside: avoid;
  text-align: justify;
}

/* .interestContainer:hover {
  box-shadow: 0 5px 15px #8892b0;
} */

.interestTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.15s ease-in-out;
}

.interestContainer:hover .interestTitle {
  color: #64ffda;
}

.interestIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
