.homeContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.welcomeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px 0;
  width: 100%;
}

.image {
  border-radius: 50%;
}

.projectsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.projectList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
