.homeContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.welcomeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px 0;
  width: 100%;
}

.image {
  border-radius: 50%;
}

.technicalSkillsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0 20px 0;
  width: 100%;
}

.technicalSkillsList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.projectsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0 20px 0;
  width: 100%;
}

.projectList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.interestsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.interestList {
  column-count: 3;
  column-gap: 16px;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .interestList {
    column-count: 2;
  }
}

@media (max-width: 480px) {
  .interestList {
    column-count: 1;
  }
}
