.projectContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 375px;
  padding: 10px;
  border: 1px solid red;
  text-align: center;
}

.tagContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
}
