.projectContainer {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 20px;
  text-align: left;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
}

.projectContainer:hover {
  box-shadow: 0 5px 15px #8892b0;
}

.projectName {
  color: #617bff;
  margin-bottom: 0;
}

.imageContainer {
  width: 100%;
}

.projectThumbnail {
  width: 100%;
  border-radius: 5px;
}

.description {
  margin-bottom: 10px;
  margin-top: 0;
}

.tagContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 5px;
}

.tag {
  border-radius: 5px;
  font-family: "Wotfard", sans-serif;
  border: none;
  outline: none;
  transition: 0.15s ease-in-out;
  background: rgba(45, 212, 191, 0.1);
  color: #64ffda;
  padding: 5px;
}

.tag:hover {
  opacity: 0.75;
}

.year {
  font-weight: bold;
}

.link {
  transition: 0.15s ease-in-out;
  display: inline-block;
  fill: #fff;
}

.link:not(:last-child) {
  margin-right: 10px;
}

.link:hover {
  opacity: 0.75;
}

.links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 450px) {
  .projectContainer {
    width: 300px;
    height: 600px;
  }
}

@media (min-width: 450px) {
  .projectContainer {
    width: 350px;
    height: 450px;
  }
}

@media (max-width: 960px) {
  .projectContainer {
    height: auto;
  }
}

@media (min-width: 500px) {
  .projectThumbnail {
    height: 200px;
  }
}

@media (max-width: 500px) {
  .projectThumbnail {
    height: 150px;
  }
}
