.projectContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 450px;
  height: 475px;
  padding: 20px;
  border: 1px solid red;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.projectName {
  margin: 0;
}

.tagContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
}

.tag {
  border-radius: 10px;
  font-family: "Wotfard", sans-serif;
  border: none;
  outline: none;
  transition: 0.15s ease-in-out;
  padding: 5px;
}

.githubButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  font-family: "Wotfard", sans-serif;
  border: none;
  outline: none;
  transition: 0.15s ease-in-out;
  padding: 10px;
  cursor: pointer;
}

.githubLogo {
  margin-right: 5px;
}
