.bookContainer {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  text-align: center;
}

.image {
  border-radius: 5px;
}

.link {
  color: #f8fafc;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.link:hover {
  opacity: 0.75;
}

.bookTitle {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.bookAuthor {
  color: #758295;
  cursor: pointer;
}
