.booksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.booksContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.booksList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  width: 100%;
}

@media (max-width: 900px) {
  .booksList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  .booksList {
    grid-template-columns: repeat(2, 1fr);
  }
}

.booksTitle {
  font-size: 50px;
}

@media (max-width: 799px) {
  .booksTitle {
    font-size: 30px;
  }
}
