@font-face {
  font-family: "Wotfard";
  font-weight: 400;
  src: url("../../../../public/assets/fonts/wotfard-regular-webfont.woff2")
      format("woff2"),
    url("../../../../public/assets/fonts/wotfard-regular-webfont.ttf")
      format("ttf"),
    url("../../../../public/assets/fonts/wotfard-regular-webfont.eot")
      format("eot");
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  font-size: 16px;
  font-family: "Wotfard", sans-serif;
}

body {
  margin: 0;
}

html.light {
  color: black;
  background: #fff;
  --mobile-header-background: #ccd6e0;
  --header-border: rgba(0, 0, 0, 0.08);
  --header-background: rgba(229, 235, 242, 0.7);
  --header-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  --header-backdrop-filter: blur(8px);
  --text-color: #000;
  --background-color: #fff;
  --welcome-background-color: linear-gradient(
    180deg,
    #f8fafc,
    #edf2f7,
    #e2e8f0,
    #cbd5e0
  );
  --curve-background-color: #ccd6e0;
  --curve-fill-color: #fff;
  --header-hover-color: #0f766e;
  --technical-skills-background-hover-color: #e2e8f0;
  --project-text-color: #f8fafc;
  --project-tag-background: #e8c9ea;
  --creator-underline-color: #0f766e;
  --blog-post-border: #3e454b;
  --blog-link-underline-color: #2563eb;
  --blog-image-border: #e2e8f0;
  --book-author-color: #758295;
  --home-link-color: #7b2cbf;
  --resume-border: #d1d5db;
  --toc-text-color: #727b9e;
  --toc-text-hover-color: #262d40;
  --heart-fill-color: #e9156e;
}

html.dark {
  background: #090e1a;
  color: #f8fafc;
  --mobile-header-background: #090e1a;
  --header-border: #202534;
  --header-background: rgba(11, 17, 32, 0.5);
  --header-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  --header-backdrop-filter: blur(5px);
  --text-color: #f8fafc;
  --background-color: #090e1a;
  --welcome-background-color: linear-gradient(
    180deg,
    #090f1d,
    #0a1124,
    #090e1a,
    #12192c
  );
  --curve-background-color: #12192b;
  --curve-fill-color: #090e1a;
  --header-hover-color: #64ffda;
  --technical-skills-background-hover-color: #e2e8f0;
  --project-text-color: #f8fafc;
  --project-tag-background: #171e29;
  --creator-underline-color: #0f766e;
  --blog-post-border: #3e454b;
  --blog-link-underline-color: #718de1;
  --blog-image-border: #30353b;
  --book-author-color: #758295;
  --home-link-color: #e6b3ff;
  --resume-border: #202534;
  --toc-text-color: #959ea5;
  --toc-text-hover-color: #c3e0e8;
  --heart-fill-color: #e9156e;
}

a {
  text-decoration: none;
}

img,
svg {
  display: block;
}

@media (min-width: 0px) {
  .content {
    width: 100%;
  }
}

@media (min-width: 1895px) {
  .content {
    width: 90%;
  }
}

@media (min-width: 2100px) {
  .content {
    width: 70%;
  }
}

@media (min-width: 2700px) {
  .content {
    width: 60%;
  }
}

@media (min-width: 3150px) {
  .content {
    width: 50%;
  }
}

@media (min-width: 3770px) {
  .content {
    width: 40%;
  }
}

.blog-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.blog-content img {
  display: block;
  max-width: 100%;
  max-height: 70vh;
  height: auto;
  margin: 1.5rem auto 0.25rem;
  border-radius: 10px;
  border: 2px solid var(--blog-image-border);
  object-fit: contain;
}

.blog-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.blog-content p {
  font-size: 1.125rem;
  margin: 10px 0 10px 0;
  width: 100%;
}

.blog-content p:has(em) {
  text-align: center;
}

.blog-content em {
  font-size: 1em;
}

.blog-content a {
  transition: 0.15s ease-in-out;
  border-bottom: 3px solid var(--blog-link-underline-color);
  color: var(--text-color);
}

.blog-content a:hover {
  opacity: 0.75;
}

.blog-content ul {
  list-style-type: disc;
  font-size: 1.125rem;
}

.blog-content li {
  margin-bottom: 0.5rem;
}
