@font-face {
  font-family: "Wotfard";
  font-weight: 400;
  src: url("../../../../public/assets/fonts/wotfard-regular-webfont.woff2")
      format("woff2"),
    url("../../../../public/assets/fonts/wotfard-regular-webfont.ttf")
      format("ttf"),
    url("../../../../public/assets/fonts/wotfard-regular-webfont.eot")
      format("eot");
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  font-size: 16px;
  font-family: "Wotfard", sans-serif;
}

body {
  margin: 0;
  background: #090e1a;
  color: #f8fafc;
}

a {
  text-decoration: none;
}

img,
svg {
  display: block;
}

@media (min-width: 0px) {
  .content {
    width: 100%;
  }
}

@media (min-width: 1895px) {
  .content {
    width: 90%;
  }
}

@media (min-width: 2100px) {
  .content {
    width: 70%;
  }
}

@media (min-width: 2700px) {
  .content {
    width: 60%;
  }
}

@media (min-width: 3150px) {
  .content {
    width: 50%;
  }
}

@media (min-width: 3770px) {
  .content {
    width: 40%;
  }
}

.blog-content {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
}

.blog-content img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 2px solid #30353b;
  margin: 10px 0 10px 0;
  border-radius: 10px;
}

.blog-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.blog-content p {
  font-size: 1.125rem;
  margin: 10px 0 10px 0;
}

.blog-content em {
  font-size: 1em;
}

.blog-content a {
  color: #f8fafc;
  transition: 0.15s ease-in-out;
  border-bottom: 3px solid #718de1;
}

.blog-content a:hover {
  opacity: 0.75;
}

.blog-content ul {
  list-style-type: disc;
  font-size: 1.125rem;
}

.blog-content li {
  margin-bottom: 0.5rem;
}
