.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  width: 100%;
  position: sticky;
  top: 0;
  background: rgba(11, 17, 32, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-bottom: 1px solid #202534;
  z-index: 1;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: #f8fafc;
  margin-right: 20px;
  transition: 0.15s ease-in-out;
}

.title:hover {
  opacity: 0.75;
}

/* .links {
  border: 1px solid red;
} */

.svg {
  fill: #f8fafc;
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  gap: 20px;
}

.headerMenu {
  padding: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 98;
  background: #090e1a;
}

.menuClose {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 20px;
}

.menuSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  gap: 20px;
}

.menuButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.pageIcon {
  height: 40px;
  width: 40px;
}

.menuLink {
  width: 100%;
  color: #f8fafc;
}

.menuLinkText {
  margin: 0;
}

@media (min-width: 840px) {
  .menu {
    display: none;
  }

  .links {
    display: flex;
  }

  .pages {
    display: flex;
  }
}

@media (max-width: 840px) {
  .menu {
    display: block;
  }

  .links {
    display: none;
  }

  .pages {
    display: none;
  }
}
