.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  width: 100%;
  position: sticky;
  top: 0;
  background: rgba(11, 17, 32, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-bottom: 1px solid #202534;
  z-index: 1;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: #f8fafc;
  margin-right: 20px;
  transition: 0.15s ease-in-out;
}

.title:hover {
  opacity: 0.75;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.svg {
  fill: #f8fafc;
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

@media (min-width: 750px) {
  .menu {
    display: none;
  }

  .links {
    display: block;
  }

  .pages {
    display: flex;
  }
}

@media (max-width: 750px) {
  .menu {
    display: block;
  }

  .links {
    display: none;
  }

  .pages {
    display: none;
  }
}
