.resumeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resumeContentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 50px;
  margin: 0;
  width: 100%;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.link {
  color: #f8fafc;
  transition: 0.15s ease-in-out;
  margin: 0;
  padding: 0;
}

.link:hover {
  opacity: 0.75;
}

.underline {
  text-decoration: underline;
}

.sectionContainer {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
}

.sectionHeading {
  margin: 0;
}

.divider {
  border-top: 1px solid #fff;
  width: 100%;
}

.schoolContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.school {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.schoolDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.text {
  margin: 0;
}

.accomplishmentTextContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.projectContainer {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.project {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.projectDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.technicalSkillsContainer {
  width: 100%;
}

.skill {
  display: flex;
  justify-content: start;
  align-items: center;
}

@media (min-width: 0px) {
  .resumeContentContainer {
    width: 100%;
  }
}

@media (min-width: 1500px) {
  .resumeContentContainer {
    width: 80%;
  }
}

@media (min-width: 1895px) {
  .resumeContentContainer {
    width: 70%;
  }
}

@media (min-width: 2100px) {
  .resumeContentContainer {
    width: 60%;
  }
}

@media (min-width: 2700px) {
  .resumeContentContainer {
    width: 50%;
  }
}

@media (min-width: 3150px) {
  .resumeContentContainer {
    width: 40%;
  }
}

@media (min-width: 3770px) {
  .resumeContentContainer {
    width: 35%;
  }
}

@media (max-width: 985px) {
  .links {
    flex-direction: column;
  }

  .linkDivider {
    display: none;
  }
}

@media (min-width: 985px) {
  .links {
    flex-direction: row;
  }

  .linkDivider {
    display: block;
  }
}

@media (max-width: 900px) {
  .projectHeading {
    font-size: 15px;
  }
}

@media (min-width: 900px) {
  .projectHeading {
    font-size: 20px;
  }
}

@media (max-width: 925px) {
  .accomplishmentHeader {
    font-size: 18px;
  }
}

@media (min-width: 925px) {
  .accomplishmentHeader {
    font-size: 25px;
  }
}

@media (max-width: 840px) {
  .skill {
    align-items: start;
    flex-direction: column;
  }
}

@media (min-width: 840px) {
  .skill {
    flex-direction: row;
  }
}
