.resumeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.name {
  font-size: 50px;
  margin: 0;
}

.row1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.project {
  margin-bottom: 20px;
}

.bodyText {
  font-size: 14px;
}

.dateText {
  color: #b3bac5;
}

.headerText {
  font-size: 18px;
  font-weight: 600;
  color: #f8fafc;
}

.headerTitle {
  color: #f8fafc;
  margin-bottom: 10px;
  font-weight: 500;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  text-align: left;
}

.link {
  color: #f8fafc;
  margin: 0;
  padding: 0;
}

.column2 {
  padding: 20px;
  height: 100%;
  width: 30%;
  margin-bottom: -20px;
}

.column1 {
  width: 70%;
  height: 100%;
  padding: 20px;
  margin-bottom: -20px;
}

.sectionDetail {
  margin-bottom: 10px;
}
