.project {
  margin-top: 20px;
}

.projectDetails {
  display: flex;
  justify-content: start;
  align-items: center;
}

.bodyText {
  font-size: 14px;
  margin: 0;
}

.projectTitle {
  margin-right: 10px;
}

.dateText {
  color: #b3bac5;
  margin: 0;
}

.link {
  color: #f8fafc;
}
