.backToTop {
  font-family: "Wotfard", sans-serif;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  margin-top: 50px;
  color: var(--text-color);
}

.backToTop:hover {
  opacity: 0.75;
}

.text {
  margin: 0;
}
