.blogPostContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.details {
  text-align: left;
  width: 100%;
  margin: 50px 0 50px 0;
}

.blogPostContentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.blogPostContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text {
  margin: 0;
}

.title {
  line-height: 1.2;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .title {
    font-size: 30px;
  }
}

@media (min-width: 600px) {
  .title {
    font-size: 50px;
  }
}

@media (min-width: 0px) {
  .blogPostContent {
    width: 100%;
  }
}

@media (min-width: 800px) {
  .blogPostContent {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .blogPostContent {
    width: 60%;
  }
}

@media (min-width: 1600px) {
  .blogPostContent {
    width: 50%;
  }
}

@media (min-width: 2000px) {
  .blogPostContent {
    width: 40%;
  }
}

@media (min-width: 2600px) {
  .blogPostContent {
    width: 30%;
  }
}

@media (min-width: 3500px) {
  .blogPostContent {
    width: 20%;
  }
}
