.blogContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogTitle {
  font-size: 50px;
}

.blogContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blogList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.blogPost {
  padding: 20px;
  width: 60%;
  border-radius: 5px;
  border: 2px #3e454b solid;
}

.title {
  margin-top: 0;
  color: #f8fafc;
}

.date {
  margin: 0;
  color: #f8fafc;
}
